ex1_basic_read_syscall
ex1b_copy_files_through_read_and_write_syscalls
ex2_basic_lseek_syscall
ex3a_binary_search
ex3b_basic_lseek_syscall_binary_search
ex3c_basic_pread_syscall_binary_searc
ex4a_basic_scatter_input_readv_syscall
ex5a_create_concatenated_positional_words
ex5b_search_for_the_biggest_word
ex5c_getting_the_file_descriptor_from_a_stream
ex5d_search_for_the_biggest_word_simplified
ex5e_show_all_number_combinations
ex5f_double_linkedlist
ex5g_sorted_linked_list
ex5i_show_all_combinations_from_a_file_word_length
ex5j_detect_biggest_words
ex5k_show_all_combinations_from_a_file_actual_word
ex5z_all_possible_sting_concatenation_that_do_not_exceed_the_maximum_detected_string_size
ex1c_copy_files_through_read_and_write_syscalls
dest_file.jpeg
